form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: $form-margin-top;

  .form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  label {
    flex-basis: 25%;
  }

  input[type="text"],
  select {
    flex: 1;
  }

  .preferences {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
