header {
  background-color: map-get($color-map, "header-background-color");
  padding: 10px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  color: white;
  margin-right: 20px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;

  &:hover {
    color: black;
  }
}

.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: none;
}

#menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo {
    margin-right: auto;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: plum;
    padding: 10px;
  }

  .menu li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .menu a {
    font-size: 16px;
  }

  .menu-icon {
    display: block;
  }

  #menu-toggle:checked ~ .menu {
    display: flex;
  }
}
